app-establishment-card {
  .establishment-card {
    &__container {
      display: flex;
      padding: 4px;
    }

    &__image {
      img {
        width: 74px;
        height: 74px;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-left: 1rem;

      &--top {
        strong {
          font-size: 18px;
          line-height: 21px;
          color: #4c5164;
        }

        span {
          color: #81879c;
          margin-left: 1rem;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
}
