<app-card>
  <div class="establishment-card__container" [routerLink]="['form', establishment.id]">
    <div class="establishment-card__image">
      <img src="assets/images/subway.png" alt="">
    </div>

    <div class="establishment-card__content">

      <div class="establishment-card__content--top">
        <strong>{{ establishment.name }}</strong>
        <span>14113</span>
      </div>


      <div class="establishment-card__content--bottom">
        <span>{{ establishment.address }}</span>
      </div>
    </div>
  </div>
</app-card>
