.toolbar {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    height: 50px;

    img {
      width: 31.66px;
      height: 12.88px;
    }
  }
}
