<section app-section>

  <app-card>
    <form [formGroup]="establishmentForm" class="establishment-form__container">
      <div class="establishment-form__header">
        <div class="establishment-form__image">
          <i [routerLink]="['../..']" class="fas fa-arrow-left"></i>
          <img [src]="establishment.picture" alt="">
        </div>

        <div class="establishment-form__title-content">

          <div class="establishment-form__title-content__title">
            <strong>{{ establishment.name }}</strong>
            <span>ID: 14113</span>
          </div>
        </div>
      </div>

      <div class="establishment-form__form">

        <div class="establishment-form__form__divider">
          <span>Informações Básicas</span>
          <div class="establishment-form__form__divider--divider"></div>
        </div>

        <div class="establishment-form__form__control">
          <div class="establishment-form__form__control__input">
            <label for="">Nome</label>
            <input type="text" formControlName="name">
          </div>

          <div class="establishment-form__form__control__input">
            <label for="">cidade</label>
            <select formControlName="city" name="" id="">
              <option value="">Subway</option>
            </select>
          </div>

          <div class="establishment-form__form__control__input">
            <label for="">Endereço</label>
            <input type="text" placeholder="Endereco" formControlName="address">
          </div>
        </div>

      </div>

      <div class="establishment-form__form">

        <div class="establishment-form__form__divider">
          <span>Financeiro</span>
          <div class="establishment-form__form__divider--divider"></div>
        </div>

        <div class="establishment-form__form__control">
          <div class="establishment-form__form__control__input">
            <label for="">Banco</label>
            <select formControlName="bank" name="" id="">
              <option value="">Banco do brasil</option>
            </select>
          </div>

          <div class="establishment-form__form__control__input">
            <label for="">Tipo de conta</label>
            <select formControlName="account_type" name="" id="">
              <option value="">Conta corrente</option>
              <option value="">Conta poupança</option>
            </select>
          </div>

          <div class="establishment-form__form__control__input">
            <label for="">CPF / CNPJ</label>
            <input type="text" placeholder="CPF / CNPJ" formControlName="cpf_cnpj">
          </div>

          <div class="establishment-form__form__control__input" style="margin-top: 20px;">
            <label for="">Agência</label>
            <div class="establishment-form__form__control__input--double">
              <input formControlName="agency" type="text">
              <input formControlName="agency_digit" type="text">
            </div>
          </div>

          <div class="establishment-form__form__control__input" style="margin-top: 20px;">
            <label for="">Conta</label>
            <div class="establishment-form__form__control__input--double">
              <input formControlName="account" type="text">
              <input formControlName="account_digit" type="text">
            </div>
          </div>

          <div class="establishment-form__form__control__input" style="margin-top: 20px;">
            <label for="">Saque automático ?</label>
            <div class="establishment-form__form__control__input">
              <label for=""></label>
              <select formControlName="withdraw" name="" id="">
                <option [value]="true">Sim</option>
                <option [value]="false">Não</option>
              </select>
            </div>
          </div>
        </div>

      </div>
    </form>
  </app-card>
</section>
