<section app-section>

  <app-card>
    <div class="establishment-form__container">
      <div class="establishment-form__header">
        <div class="establishment-form__image">
          <i class="fas fa-arrow-left"></i>
          <img src="assets/images/subway.png" alt="">
        </div>

        <div class="establishment-form__title-content">

          <div class="establishment-form__title-content__title">
            <strong>Subway</strong>
            <span>ID: 14113</span>
          </div>
        </div>
      </div>

      <div class="establishment-form__form">

        <div class="establishment-form__form__divider">
          <span>Informações Básicas</span>
          <div class="establishment-form__form__divider--divider"></div>
        </div>

        <div class="establishment-form__form__control">
          <div class="establishment-form__form__control__input">
            <label for="">Nome</label>
            <select name="" id="">
              <option value="">Subway</option>
            </select>
          </div>

          <div class="establishment-form__form__control__input">
            <label for="">cidade</label>
            <select name="" id="">
              <option value="">Subway</option>
            </select>
          </div>

          <div class="establishment-form__form__control__input">
            <label for="">Endereço</label>
            <input type="text" placeholder="Endereco">
          </div>
        </div>

      </div>

    </div>
  </app-card>
</section>
